<h1>Welcome to Pierres Sweet Treats</h1>

<p>@Html.ActionLink("Log In", "Index", "Account")</p>
<p>@Html.ActionLink("View Treats by Flavor", "Index", "Flavors")</p>
<p>@Html.ActionLink("View Flavors by Treats", "Index", "Treats")</p>