<h1>Welcome to Pierres Sweet Treats</h1>

@* <img alt="Croissant" src="~/css/Croissant.png"> *@
<p>
    @Html.ActionLink("Log In", "Index", "Account")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Flavors", "Index", "Flavors")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Treats", "Index", "Treats")    
</p>