@model Pierres.Models.Flavors

<h4>Delete this Flavor?</h4>

@Html.DisplayNameFor(model => model.FlavorName); @Html.DisplayFor(model => model.FlavorName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete">
}
@Html.ActionLink("Flavors", "Index")
